@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

/* Global Styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: none;
}

.buttonPrimary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    padding: 20px 40px;
    border: 0;
    margin-top: 30px;
}

/* navigation bar styles start from here */
nav {

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;

}

.navLogo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLogo>img {
    width: 80px;
}

.navLogo>h1 {
    font-size: 45px;
    font-weight: 700;
}

.navLogo span {
    color: #FF42A5;
}

.navItems {

    display: flex;
    gap: 32px;
    align-items: center;
}

.navItems>li {
    list-style: none;
}

.followUsNav {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 24px;
}

.followUsNavIcon1 {
    color: rgba(246, 28, 13, 1);

    font-size: 24px;
}

.followUsNavIcon2 {
    color: rgba(0, 0, 0, 1);
    text-shadow: 2px 2px 3px rgba(240, 0, 68, 1);

    font-size: 24px;
}

/* responsive section for nav bar */
@media screen and (max-width:680px) {

    .navSection,
    .navItems {
        flex-direction: column;
        padding: 20px;
    }

    .navItems {
        margin-top: 10px;
    }

    nav {
        box-shadow: none;
    }
}


/* banner section styles start from here */
.bannerTexts {
    background-image: url(../images/bannerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    padding-left: 200PX;
    background-position: left bottom;

    height: auto;
}

.bannerImages {
    width: 50%;
    padding-right: 200PX;
}

.bannerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerTexts h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0px;
}

.bannerTexts h1 {
    font-size: 95px;
    font-weight: 800;
    /* reference- learn from https://cssgradient.io/blog/css-gradient-text/ */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;

    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0px;
}

.bannerTexts p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.btn1 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn2 {
    background: #4EC5F7;
}

.bannerImages>img {
    width: 100%;
}

/* responsive section for banner section */
@media screen and (max-width:680px) {
    .bannerSection {
        flex-direction: column-reverse;
    }

    .bannerTexts {
        width: 100%;
        padding: 50px 0px 50px 35px;
    }

    .bannerImages {
        width: 100%;
        padding: 30px;

    }

}

/* we are gamer section styles start from here */
.weAreGamerSection {
    padding: 0px 200px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.weAreGamerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.weAreGamerImage>img {
    width: 70%;
}

.weAreGamerText {
    text-align: right;
    margin: 50px 0px;
}

.weAreGamerText>h2 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 25px;
}

.weAreGamerText>p {
    color: #534C64;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
}

.weAreGamerText>h3 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

@media screen and (max-width:680px) {
    .weAreGamerSection {
        display: block;

        padding: 20px;
    }

    .weAreGamerText {
        text-align: center;
        margin: 50px 0px;
    }

    .weAreGamerImage {
        width: 80%;
        margin: 0 auto;
    }

    .weAreGamerImage>img,
    .weAreGamerText {
        width: 100%;
    }

    .weAreGamerText>p {
        font-size: 12px;
    }

    .weAreGamerText>h3 {
        font-size: 20px;
    }
}

/* Online Games Funny Videos section styles start from here */
.onlineGameSection {
    padding: 0px 200px;
    margin-top: 120px;
}

.onlineGameSection>h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.onlineGameSection>h1>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.onlineGameSection>p {
    text-align: center;
}

.onlineGameSection p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}

.gameCard>div>a {
    text-decoration: none;
    display: none;
}

.onlineGameCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 0px;
}

.onlineGameCards .card1 {
    background-image: url(./../images/card1.png);

}

.onlineGameCards .card2 {
    background-image: url(./../images/card2.png);
}

.onlineGameCards .card3 {
    background-image: url(./../images/card3.png);
}

.onlineGameCards .card4 {
    background-image: url(./../images/card4.png);
}

.gameCard>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    border-radius: 16px;
    text-align: center;
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.gameCard>div:hover>a {
    display: block;
    color: rgb(211, 216, 210);
    font-weight: 700;
    text-shadow: 2px 2px 4px red;
}

.gameCard>div:hover>a>i {
    color: #f1c4df;
    font-size: 26px;
    padding-bottom: 3px;
}

.onlineGameCards .card1:hover {
    background-image: url(../images/card1.png), linear-gradient(45deg, rgba(121, 56, 56, 0.747), rgba(46, 32, 73, 0.63));
    background-blend-mode: overlay;

}

.onlineGameCards .card2:hover {
    background-image: url(../images/card2.png), linear-gradient(45deg, rgba(121, 56, 56, 0.747), rgba(46, 32, 73, 0.63));
    background-blend-mode: overlay;
}

.onlineGameCards .card3:hover {
    background-image: url(../images/card3.png), linear-gradient(45deg, rgba(121, 56, 56, 0.747), rgba(46, 32, 73, 0.63));
    background-blend-mode: overlay;
}

.onlineGameCards .card4:hover {
    background-image: url(../images/card4.png), linear-gradient(45deg, rgba(121, 56, 56, 0.747), rgba(46, 32, 73, 0.63));
    background-blend-mode: overlay;
}

/* Online Games Funny Videos section responsive styles start from here */
@media screen and (max-width:680px) {
    .onlineGameSection>h1 {
        font-size: 24px;
    }

    .onlineGameSection {
        padding: 0px 20px;
    }

    .onlineGameCards {

        grid-template-columns: repeat(1, 1fr);
    }

    .onlineGameSection p {
        font-size: 12px;
        text-align: center;

    }
}

/* Play Instantly section styles start from here */
.playInstantlySection {
    padding: 50px 200px;
    margin-top: 30px;
    position: relative;
    margin-bottom: 50px;
}

.playInstantlySection>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.playInstantlySectionText {
    width: 30%;
}

.playInstantlySectionImage {
    width: 50%;
}

.playInstantlySectionText>h1 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
}

.playInstantlySectionText>h1>span {
    color: #F948B2;
}

.playInstantlySectionText>p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.playInstantlySection>img {
    position: absolute;
    bottom: 0px;
    left: 45%
}

/* Play Instantly section responsive styles start from here */
@media screen and (max-width:680px) {
    .playInstantlySection {
        padding: 50px 20px;
    }

    .playInstantlySection>div {
        flex-direction: column;
        justify-content: center;
    }

    .playInstantlySectionText {
        padding: 30px;
        width: 100%;
    }

    .playInstantlySectionImage {
        width: 100%;
        padding: 10px 20px;

    }

    .playInstantlySectionImage>img {
        width: 80%;
        padding-left: 50px;
    }

    .playInstantlySection>img {
        width: 140px;
        left: 10%;
    }
}

/*  Careers section styles start from here  */
.careersSection {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 200px;
    align-items: center;
}

.careersSectionText>div {
    display: flex;
    gap: 40px;
}

.careersSectionText {
    width: 50%;
}

.careersSectionImage {
    width: 50%;
    overflow: hidden;
}

.careersSectionText h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.careersSectionText p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}

.careersSectionText li {
    list-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.careersSectionText button {
    color: #FF42A5;
}

/*  Careers section responsive styles start from here  */
@media screen and (max-width:680px) {
    .careersSection {
        padding: 10px 0px 0px 15px;
        flex-direction: column;
    }
    .careersSectionText{
        padding-right: 15px;
    }
    .careersSectionText,
    .careersSectionImage {
        width: 100%;
        
    }

    .careersSectionText>div {
        gap: 60px;

    }

    .careersSectionText li {
        font-size: 15px;
    }

    .careersSectionImage>img {
        padding-top: 60px;
        width: 100%;
    }

    .careersSectionText button {
        font-size: 12px;
        padding: 10px;
        border-radius: 5px;
    }
}

/* game section style starts from here */
.gameSectionCards {
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
}

.gameSectionColoumn1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px;
    gap: 20px;
}

.gameSectionColoumn2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px;
    gap: 20px;
}
.gameSectionCard{
    border: 2px solid transparent;
    border-radius: 15px;
}
.gameSectionCard>a {
    display: flex;
    padding: 10px;
    margin-right: 4px;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 15px;
    gap: 12px;
    text-decoration: none;
}

.gameSectionCard:hover {
    border: 2px solid #FF42A5;
    transition: all 0.7s;
}

.gameSectionCard:hover p {

    color: #FF42A5;
    transition: all 0.7s;
}

.gameSectionCard>a>p {
    color: #0B0223;
    font-size: 18px;
    font-weight: 600;
}

/* game section responsive style starts from here */
@media screen and (max-width:680px) {
    .gameSectionCards {
        padding: 30px 10px;
    }

    .gameSectionColoumn1{
        grid-template-columns: repeat(2, 1fr);
    }

    .gameSectionColoumn2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .gameSectionCard>a,
    .gameSectionCard>img {
        width: 40%;
    }

    .gameSectionCard>a>p {
        color: #0B0223;
        font-size: 12px;
    }
}