@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800&display=swap');

/* Global Styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 0px 200px;
}
@media screen and (max-width:576px){
    section{
    margin:0px 40px 40px 40px;
    }
}
.buttonPrimary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    padding: 20px 40px;
    border: 0;
    margin-top: 30px;
}

/* navigation bar styles start from here */
nav {

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.navLogo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navLogo>img {
    width: 80px;
}

.navLogo>h1 {
    font-size: 45px;
    font-weight: 700;
}

.navLogo span {
    color: #FF42A5;
}

.navItems {

    display: flex;
    gap: 32px;
    align-items: center;
}

.navItems>li {
    list-style: none;
}

.followUsNav {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 24px;
}

.followUsNavIcon1 {
    color: rgba(246, 28, 13, 1);

    font-size: 24px;
}

.followUsNavIcon2{
    color: rgba(0, 0, 0, 1);
    text-shadow: 2px 2px 3px rgba(240, 0, 68, 1);

    font-size: 24px;
}
/* responsive section for nav bar */
@media screen and (max-width:576px) {
    .navSection,.navItems{
        flex-direction: column;
    }
    .navItems{
        margin-top: 10px;
    }
    nav{
        box-shadow: none;
    }
    
}


/* banner section styles start from here */
.mainBanner {

    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position:-50px left;
}

.bannerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerTexts>h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0px;
}

.bannerTexts>h1 {
    font-size: 95px;
    font-weight: 800;
    /* reference- learn from https://cssgradient.io/blog/css-gradient-text/ */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0px;
}

.bannerTexts p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.btn1 {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn2 {
    background: #4EC5F7;
}
.bannerImages>img{
    width: 100%;
}
/* responsive section for banner section */
@media screen and (max-width:576px) {
    .bannerSection{
        flex-direction: column-reverse;
    }
    .mainBanner{
        background-image: none;
    }
    .bannerTexts{
        background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        padding: 80px 0px;
    }

}
